<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All creatures</title>
</head>
<body>
    <table border="4">
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Type_id</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each = "creature : ${creatures}">
            <th th:text = "${creature.getName()}"></th>
            <th th:text = "${creature.getAge()}"></th>
            <th th:text = "${creature.getTypeId()}"></th>
                <th><a th:href="@{delete/{id}(id=${creature.getId()})}">Delete</a></th>
            </tr>
        </tbody>
    </table>
<div><a th:href = "@{addCreature}">Добавить животное</a></div>
</body>
</html>